{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Art Gallery-Comprar</title>
    <link rel="shortcut icon" href="https://images.vexels.com/media/users/3/142929/isolated/preview/878464f0cee16c2377c4872139cf6702-logotipo-de-arte-de-c-iacute-rculos-de-ojos-by-vexels.png" type="image/x-icon">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
            crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static 'css/form-validation.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>

    <script
            src="https://kit.fontawesome.com/70781f61cc.js"
            crossorigin="anonymous"
    ></script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<!--Scripts-->
{% include 'scripts/scripts.html' %}
<!--Fin Scripts-->

<body class="bg-light">
<!--Header-->
{% include 'header/header.html' %}
<!--Fin del header-->

{% if messages %}
    {% for message in messages %}
        <div id="message" class="alert alert-success alert-dismissible fade show" role="alert"
             style="text-align: center; ">
            <strong>Hey todo ha salido bien !!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}

<div class="container mt-5">
    <div class="py-5 text-center">
        <img
                class="d-block mx-auto mb-4"
                src="https://images.vexels.com/media/users/3/142929/isolated/preview/878464f0cee16c2377c4872139cf6702-logotipo-de-arte-de-c-iacute-rculos-de-ojos-by-vexels.png"
                alt=""
                width="72"
                height="72"
        />

        <h2>Facturación</h2>
        <p class="lead">Facturación de tu compra en Art Galey</p>
    </div>

    <div class="jumbotron" style="display: block">
        <div class="container">
            <form class="needs-validation" action="{% url 'buy' pieza.id %}" method="POST" novalidate>
                {% csrf_token %}
                <h4 class="mb-3 text-center">Datos del usuario <i class="fas fa-user"></i></h4>

                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Nombres</label>
                            {{ form.nombre_usuario }}
                            <div class="invalid-feedback">Nombre requerido</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Apellidos</label>
                            {{ form.apellido_usuario }}
                            <div class="invalid-feedback">Apellido requerido</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Correo</label>
                        {{ form.email }}
                        <div class="invalid-feedback">Correo electronico requerido</div>
                    </div>

                    <div class="form-group">
                        <label for="inputAddress">Direccion</label>
                        {{ form.direccion }}
                        <div class="invalid-feedback">Direccion Requerida</div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">Ciudad</label>
                            {{ form.ciudad }}
                            <div class="invalid-feedback">Ciudad requerida</div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">Departamento</label>
                            {{ form.departamento }}
                            <div class="invalid-feedback">Departamento requerido</div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Codigo postal</label>
                            {{ form.codigo_postal }}
                            <div class="invalid-feedback">Codigo postal requerido</div>
                        </div>
                    </div>


                    <hr/>


                    <h4 class="mb-3 text-center">Detalles de compra <i class="fas fa-shopping-cart"></i></h4>

                    <br>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">Nombre de la pieza</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="firstName"
                                    placeholder=""
                                    value="{{ pieza.nombre_pieza }}"
                                    style="background-color: #fff"
                                    disabled
                            />
                        </div>

                        <div class="col-md-2">
                            <label for="id_pieza_id_pieza">Codigo Pieza</label>

                            <input type="text" value="{{ pieza.id }}" placeholder="{{ pieza.id }}"  name="pieza_id_pieza" class="form-control"  id="id_pieza_id_pieza">


                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1"
                        >Descripcion completa:</label
                        >
                        <textarea
                                class="form-control"
                                id="exampleFormControlTextarea1"
                                rows="3"
                                disabled
                                minlength="100"
                                maxlength="250"

                                style="background-color: #fff;height:186px"
                        >{{ pieza.big_descripcion }}</textarea>
                    </div>

                    <div class="mb-3">
                        <label for="address">Precio:</label>
                        <input
                                type="text"
                                class="form-control"
                                id="address"
                                placeholder="Precio de la pieza"
                                value="{{ pieza.precio }}"
                                disabled
                                style="background-color: #fff"
                        />
                    </div>

                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="country">Artista:</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="address"
                                    placeholder="Nombre del artista"
                                    style="background-color: #fff"
                                    value="{{ pieza.artista.nombre }}"
                                    disabled
                            />
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="exampleFormControlTextarea1"
                        >Descripcion del artista:</label
                        >
                        <textarea
                                class="form-control"
                                id="exampleFormControlTextarea1"
                                rows="3"
                                disabled
                                minlength="100"
                                maxlength="250"

                                style="background-color: #fff;height:250px"
                        >{{ pieza.artista.descripcion }}</textarea>
                    </div>

                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="country">Contacto del artista:</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="address"
                                    placeholder="Nombre del artista"
                                    style="background-color: #fff"
                                    value="{{ pieza.artista.email }}"
                                    disabled
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="firstName">Imagen:</label></div>

                        <div class="container"
                             style="display: inherit;text-align: center;padding: 0rem 1rem 3rem 2rem;">

                            <div class="content" style="width: 22rem;">
                                <div class="card" style="width: 15rem;">

                                    <img src="{{ pieza.imagen }}" class="card-img-top" title="{{ pieza.nombre_pieza }}"
                                         height="300px">
                                </div>
                            </div>


                            <div class="content" style="width: 22rem;">
                                <div class="card" style="width: 15rem;">

                                    <img src="{{ pieza.imagen2 }}" class="card-img-top" title="{{ pieza.nombre_pieza }}"
                                         height="300px">
                                </div>
                            </div>


                            <div class="content" style="width: 22rem;">
                                <div class="card" style="width: 15rem;">

                                    <img src="../../media/{{ pieza.imagen4 }}" class="card-img-top" title="{{ pieza.nombre_pieza }}"
                                         height="300px">
                                </div>
                            </div>
                        </div>

                    </div>
                    <button class="btn btn-primary btn-lg btn-block mt-5" type="submit">
                        Comprar
                    </button>
                    <a href="javascript:history.go(-1)" class="btn btn-danger btn-lg btn-block mt-3">Cancelar</a>
                </form>

            </form>


        </div>
    </div>
    <p class="float-right"><a href="#">Volver al inicio</a></p>
    <footer class="my-5 pt-5 text-muted text-center text-small">

        <p class="mb-1">&copy; 2021 Henry Esteban Cardenas Aleman</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>

<script src="{% static 'JavaScript/form-validation.js' %}"></script>
</body>

</html>
