{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Art Gallery-Update</title>
    <link rel="shortcut icon" href="https://images.vexels.com/media/users/3/142929/isolated/preview/878464f0cee16c2377c4872139cf6702-logotipo-de-arte-de-c-iacute-rculos-de-ojos-by-vexels.png" type="image/x-icon">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
            crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static 'css/form-validation.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>

    <script
            src="https://kit.fontawesome.com/70781f61cc.js"
            crossorigin="anonymous"
    ></script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<!--Scripts-->
{% include 'scripts/scripts.html' %}
<!--Fin Scripts-->

<body class="bg-light">
<!--Header-->
{% include 'header/header.html' %}
<!--Fin del header-->

<div class="container mt-5">
    <div class="py-5 text-center">
        <img
                class="d-block mx-auto mb-4"
                src="https://images.vexels.com/media/users/3/142929/isolated/preview/878464f0cee16c2377c4872139cf6702-logotipo-de-arte-de-c-iacute-rculos-de-ojos-by-vexels.png"
                alt=""
                width="72"
                height="72"
        />
        <h2>Formulario de actualizacion</h2>
        <p class="lead">Actualiza la pieza de arte</p>
    </div>

    <div class="jumbotron" style="display: block">
        <div class="container">
            <h4 class="mb-3">Llena el formulario</h4>
            <form class="needs-validation" action="{% url 'update' pieza_update.id %}" method="POST"
                  enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Nombre de la pieza:</label>
                        <input type="text" name="nombre_pieza" class="form-control" max="50" maxlength="50" required=""
                               id="id_nombre_pieza" value="{{ pieza_update.nombre_pieza }}">
                        <div class="invalid-feedback">Nombre de la pieza requerido</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1"
                    >Pequeña descripcion:</label
                    >
                    <textarea name="small_descripcion" placeholder=" {{ pieza_update.small_descripcion }}" cols="40"
                              rows="3" class="form-control" minlength="100" maxlength="115" max="115" required=""
                              id="id_small_descripcion">{{ pieza_update.small_descripcion }}   </textarea>

                    <div class="invalid-feedback">
                        Descripcion requerida, minimo 80 caracteres y maximo 115
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1"
                    >Descripcion completa:</label
                    >
                    <textarea name="big_descripcion" placeholder=" {{ pieza_update.big_descripcion }}" cols="40"
                              rows="3" class="form-control" minlength="100" maxlength="255" max="255" required=""
                              id="id_big_descripcion">{{ pieza_update.big_descripcion }}</textarea>
                    <div class="invalid-feedback">
                        Descripcion requerida, minimo 100 caracteres y maximo 250
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Precio:</label>

                    <input type="text" value="{{ pieza_update.precio }}" name="precio" class="form-control" required=""
                           id="id_precio">
                    <div class="invalid-feedback">Ingrese el valor de la pieza.</div>
                </div>


                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Direccion url de la imagen principal:</label>

                        <input type="text" name="imagen" value=" {{ pieza_update.imagen }}" class="form-control"
                               max="255" required="" maxlength="255" id="id_imagen">
                        <p class="mt-2">
                            Imagen actual:
                            <img src="{{ pieza_update.imagen }}" width="100" height="100">
                        </p>
                        <div class="invalid-feedback">Imagne de la pieza requerido</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Direccion url de la imagen 2:</label>

                        <input type="text" value="{{ pieza_update.imagen2 }}" name="imagen2" class="form-control"
                               max="255" maxlength="255" required="" id="id_imagen2">
                        <p class="mt-2">
                            Imagen actual:
                            <img src="{{ pieza_update.imagen2 }}" width="100" height="100">
                        </p>
                        <div class="invalid-feedback">Imagen de la pieza requerido</div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Imagen 3:</label>

                        <small style="font-size: 63%;">{{ pieza_update.imagen4 }}<br></small>
                        <span>Cambiar:</span>

                        <input type="file" name="imagen4" accept="image/*" id="id_imagen4">

                        <p class="mt-2">
                            Imagen actual:
                            <img src="../../media/{{ pieza_update.imagen4 }}" width="100" height="100">
                        </p>
                        <div class="invalid-feedback">Imagen de la pieza requerido</div>
                    </div>
                </div>


                <button class="btn btn-primary btn-lg btn-block mt-5" type="submit">
                    Actualizar pieza
                </button>

                <a href="javascript:history.go(-1)" class="btn btn-danger btn-lg btn-block mt-3">Cancelar</a>


            </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2021 Henry Esteban Cardenas Aleman</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>
<script src="../../static/JavaScript/form-validation.js"></script>
</body>
</html>
